<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @question.content %></title>
  <style>

    .profile-picture {
        width: 50px;  /* Adjust as needed */
        height: 50px;  /* Adjust as needed */
        border-radius: 50%;  /* Makes the image round */
        object-fit: cover;  /* Ensures the image covers the whole area */
      }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f8f9fa;
      color: #333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .question, .comment {
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    .question h1, .comment h2 {
      margin: 0 0 10px;
    }

    .question-metadata, .comment-metadata {
      color: #666;
      font-size: 0.9em;
      margin-bottom: 20px;
    }

    /* Add styles for buttons */
    .edit-button, .delete-button {
      background-color: #007BFF;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 5px 2px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .edit-button:hover, .delete-button:hover {
      background-color: #0056b3;
    }

    h3 {
      margin-bottom: 1rem;
    }

  </style>
</head>
<body>
  
  <div class="container">

  <div class="question-metadata">
        <strong>Question of:</strong>
        <%= @question.created_at.strftime('%Y-%m-%d') %>
      </div>
    <div class="question">
      <h1><%= @question.content %></h1>
      
    </div>

  <h2>Answers:</h2>
  <% @comments.each do |comment| %>
    <div class="comment">
    <%= image_tag(comment.user.profile_picture, class: 'profile-picture') if comment.user.profile_picture.attached? %>
      <h2><%= comment.user.username %></h2>
      <p><%= comment.content %></p>
      <div class="comment-metadata">
        <strong>Answered On:</strong>
        <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
      </div>
      <% if user_signed_in? && current_user == comment.user %>
        <div style="display: flex; justify-content: flex-start">
          <%= link_to 'Edit', edit_question_comment_path(@question, comment), class: 'edit-button', style: 'background-color: #007bff; color: white; text-decoration: none; padding: 5px 10px; margin-right: 10px;' %>
          <%= button_to 'Delete', question_comment_path(@question, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' }, class: 'delete-button', style: 'background-color: #dc3545; color: white; text-decoration: none; padding: 5px 10px;' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <h3>Your Answer:</h3>
    <%= render partial: 'comments/form', locals: { question: @question, comment: Comment.new(question: @question) } %>
  <% else %>
    <h3><%= link_to 'Log in', new_user_session_path %> to create an answer.</h3>
  <% end %>
  </div>
</body>
</html>