<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @user.username %>'s Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f8f9fa;
      color: #333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .profile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .profile, .comment {
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }

    .profile h1, .comment h2 {
      margin: 0 0 10px;
    }

    .profile-metadata, .comment-metadata {
      color: #666;
      font-size: 0.9em;
      margin-bottom: 20px;
    }

    .profile-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    .edit-button {
      background-color: #007BFF;
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 5px 2px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .edit-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="profile">
      <div class="profile-header">
        <div>
          <h1><%= @user.username %></h1>
          <% if @user.profile_picture.attached? %>
            <%= image_tag @user.profile_picture, class: 'profile-picture' %>
          <% end %>
        </div>
        <!-- Add link to edit profile page if user is viewing their own profile -->
        <% if current_user == @user %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'edit-button' %>
        <% end %>
      </div>
    </div>

    <h2>Answers:</h2>

    <% @user.comments.each do |comment| %>
      <div class="comment">
        <h2><%= link_to comment.question.content, question_path(comment.question) %></h2>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
</body>
</html>